$font-family: 'Roboto', Arial, sans-serif;

$spritesheet-path: url(../img/spritesheet.png);

$btn-padding: 10px 15px;

$light-green: #009357;
$green: #028835;
$dark-green: #04742e;
$pink: #d22856;
$dark-red: #d21515;
$light-red: #e25858;
$light-grey: #e5e5e5;
$black: #283645;
$box-shadow-black: rgba(0, 0, 0, 0.12);
$silver: #c0c0c0;
$nav-font-grey: #757575;
$nav-background-grey: #d6d6d6;
