.modal {
  position: relative;
  padding: 25px 30px;
  width: 320px;
  background-color: #fff;
}

.modal__close {
  position: absolute;
  top: 25px;
  right: 25px;
  z-index: 101;
  padding: 0;
  width: 15px;
  height: 15px;

  &::before,
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 20px;
    height: 3px;
    background-color: #000;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}
